:root {
  --color-blue: #00718f;
  --color-lightblue: #5aa2ae;
  --color-lightgray: #e9eaed;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-lightblue);
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 3px;
  background: var(--color-blue);
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
::-webkit-scrollbar-track {
  background: var(--color-lightgray);
  border-radius: 3px;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Arial', 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

input {
  text-align: unset;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Calendar */
td.fc-day-sat, td.fc-day-sun {
  color: red;
}
a.fc-h-event {
  background-color: unset;
  border: unset;
}
.fc .fc-popover {
  z-index: 100;
}
.fc .fc-toolbar {
  gap: 2rem
}
.fc .fc-daygrid-day-top {
  flex-direction: unset;
  justify-content: space-between
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: white;
}

.fc-day:not(.fc-day-disabled) button {
  padding: 2px 4px;
  font-size: 1.2em;
  border: unset;
  cursor: pointer;
  background-color: white;
}